:root {
  --px-md: 20px;
  --px-lg: 40px;
  --px-xlg: 64px;
  --input-md: 48px;
  --input-md-fsize: 14px;
  --textarea-md: 140px;
  --space-xsm: 12px;
  --space-xsm2: 16px;
  --space-sm: 20px;
  --space-sm2: 16px;
  --space-md: 24px;
  --space-md2: 24px;
  --space-md3: 32px;
  --space-box: 48px;
  --space-box2: 160px;
  --heading-2: 24px;
  --heading-2-margin: 48px 0 24px;
  --heading-4: 18px;
  --heading-4-margin: 24px 0 8px;
  --heading-info: 20px;
  --heading-box: 20px;
  --btn-md: 48px;
  --btn-xlg: 56px;
  --btn-xlg2: 56px;
  --btn-xxlg: 80px;
  --btn-xxlg-size: 18px;
  --ic-sm: 24px;
  --ic-md: 32px;
  --ic-lg: 48px;
  --ic-xlg: 48px;
  --ic-xlg2: 56px;
  --ic-xxlg: 80px;
  --header-height: 80px;
  --footer-height: 176px;
  --side-padding: 48px;
  --bottom-padding: 80px;
  --h1-height: 192px;
  --h1-fsize: 40px;
  --h1-fsize-sm: 18px;
  --tab-fsize: 20px;
  --search-bar-width: 100%;
  --gallery-list-length: 3;
  --gallery-list-space: var(--space-md);
  --gallery-list-title-space: 16px;
  --gallery-list-title-size: 18px;
  --list-more-size: 18px;
  --board-head-padding: 28px 32px;
  --board-body-padding-v: var(--px-lg);
  --board-body-padding-h: 32px;
  --board-heading-fsize: 24px;
  --board-media-max-width: 100%;
  --board-footer-col-indent: 32px;
  --faq-list-a-padding-v: 18px;
  --faq-list-a-padding-h: 20px;
  --faq-list-a-size: 18px;
  --faq-list-q-padding: 24px 32px;
  --max-width: 1660px;
  --line-height-sm: 1.4;
  --line-height-md: 1.6;
  --line-height-lg: 1.8;
  --cubic-bezier-primary: cubic-bezier(1, 0, 0.2, 1);
  --mint-900: #70d7bf;
  --mint-700: #8ddfcc;
  --midnight-900: #05141f;
  --midnight-100: #cdd0d2;
  --red: #ff0900;
  --blue: #4296e4;
  --black-300: #9ba1a5;
  --gray-700: #37434c;
  --gray-500: #697278;
  --gray-400: #82898f;
  --gray-300: #b4b9bc;
  --gray-200: #cdd0d2;
  --gray-100: #e6e8e9;
  --gray-50: #f6f6f9;
  --gray-10: #f8f8f8;
}
